.addtask-overlay-fullscreen {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.addtask-card {
  width: 80%;
  min-height: 80%;
  max-height: 100vh;
  background-color: var(--white);
  border-radius: 30px;
  transform: translateX(100vw);
  transition: all 220ms ease-in-out;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  border: 16px solid var(--white);
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.close-addtask-card {
  position: absolute;
  top: 34px;
  right: 38px;
  cursor: pointer;
}