    .mobile-only {
    display: none !important;
    }

    .desktop-only {
    display: flex !important;
    }

    @media(max-width: 1200px) {
    #addtask-prio {
        flex-direction: column;
    }
    }

    @media(max-width: 1100px) {
    .mobile-fs-16 {
        font-size: 16px !important;
    }

    .header-headline {
        font-size: 47px;
    }

    #addtask-form {
        flex-direction: column;
    }

    #addtask-form section {
        width: 100%;
    }

    #addtask-left-or-top {
        padding-right: 0;
        border-right: none;
    }

    #addtask-right-or-bottom {
        padding-left: 0;
    }
    }

    @media(max-width: 900px) {
    .mobile-only {
        display: flex !important;
    }

    .desktop-only {
        display: none !important;
    }

    main.addtask {
        margin: 80px 0 80px 0;
        padding: 35px 30px;
        height: calc(100vh - 80px - 80px - 35px - 35px);
    }

    .task-added {
        width: 248px;
        padding: 24px;
        bottom: 15%;
        left: calc(50% - 124px);
    }

    .addtask-overlay-fullscreen {
        top: 80px;
        height: calc(100vh - 80px - 80px);
        background-color: var(--bg-color);
    }

    .addtask-card {
        height: calc(100vh - 80px - 80px);
        width: 100%;
        position: unset;
        background: var(--bg-color);
        box-shadow: unset;
        border-radius: unset;
        border: unset;
    }

    #addtask-subtasks {
        margin-bottom: 0;
    }
    }