.bg-theme {
    background-color: #2A3647;
}

.bg-urgent {
    background-color: #FF3D00;
}

.bg-medium {
    background-color: #FFA800;
}

.bg-low {
    background-color: #7AE229;
}

.bg-0 {
    background-color: #FF7A00;
}

.bg-1 {
    background-color: #9327FF;
}

.bg-2 {
    background-color: #29ABE2;
}

.bg-3 {
    background-color: #FC71FF;
}

.bg-4 {
    background-color: #02CF2F;
}

.bg-5 {
    background-color: #AF1616;
}

.bg-6 {
    background-color: #462F8A;
}

.bg-7 {
    background-color: #FFC700;
}

.bg-8 {
    background-color: #0190E0;
}

.bg-9 {
    background-color: #EE00D6;
}

.bg-10 {
    background-color: #4E963D;
}

.bg-11 {
    background-color: #32DAFF;
}

.bg-12 {
    background-color: #007CEE;
}

.bg-13 {
    background-color: #402054;
}

.bg-14 {
    background-color: #572f01;
}

.bg-15 {
    background-color: #1FD7C1;
}

.bg-16 {
    background-color: #3b3822;
}