.overflow-h{
  overflow: hidden;
}
.overlay-msg{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.2);
  z-index: 5;
}
.animate-msg{
  animation: 250ms moveMsg ease-in-out;
}
@keyframes moveMsg{
  from{
    top: 100%;
  }
}
