/*--------------------------------------------------
Global Elements
---------------------------------------------------*/
.btn {
  height: calc(51px - 2px);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------------------------------------------
local Elements
---------------------------------------------------*/
.btn-px {
  padding: 0 16px;
}

.btn-py {
  padding: 16px 0;
}

.btn-w-91 {
  width: 91px;
}

.btn-w-145 {
  width: 145px;
}

.btn-w-264 {
  width: 264px;
}

.btn-dark {
  background-color: #2A3647;
  color: #FFFFFF;
  border: 1px solid #2A3647;
}

#loginEmail-label{
  margin-bottom: 20px;
  font-size: 15px;
}

.btn-dark:hover {
  background-color: #29ABE2;
  border: 1px solid #29ABE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-dark:active {
  background-color: #091931;
  border: 1px solid #091931;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-bright {
  background-color: #FFFFFF;
  color: #2A3647;
  border: 1px solid #2A3647;
}

.btn-bright:hover {
  background-color: #FFFFFF;
  color: #29ABE2;
  border: 1px solid #29ABE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-bright:active {
  background-color: #FFFFFF;
  color: #091931;
  border: 1px solid #091931;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.error-box {
  outline:2px solid red;
}

/*--------------------------------------------------
Main
---------------------------------------------------*/
.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5
}

.logo {
  position: absolute;
  top: 80px;
  left: 77px;
  max-width: 100px;
}

.sign-up {
  position: absolute;
  top: 67px;
  right: 114px;
  display: flex;
  align-items: center;
  gap: 35px;
}

/*--------------------------------------------------
Formular
---------------------------------------------------*/
form {
  margin: 0 4%;
  padding: 35px 4%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.form-SignIn {
  max-width: 652px;
}

.return-black {
  position: absolute;
  top: 27px;
  left: 33px;
  display: none;
}

.return-blue {
  position: absolute;
  top: 41px;
  left: 37px;
}

.form-headline {
  width: 100%;
  margin: 0;
}

.headline-newPassword {
  padding: 21px 20px 0 20px;

}

.border {
  margin-top: 24px;
  margin-bottom: 35px;
  width: 50%;
  max-width: 150px;
  height: 3px;
  background-color: #29ABE2;
}

.incorrect{
  color: red;
}

.form-verification {
  width: 100%;
}

.form-verification:last-child {
  margin-bottom: 55px;
}

input:focus {
  outline: none;
}

input[type=email],
input[type=name],
input[type=password] {
  margin-bottom: 49px;
  padding: 13px 21px;
  width: calc(100% - 42px - 2px);
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 95%;
  font-size: 21px;
  font-weight: 400;
}

input[type=email] {
  background-image: url(../assets/img/emailInput.png);
}

input[type=name] {
  background-image: url(../assets/img/nameInput.png);
}

.img-password {
  background-image: url(../assets/img/lock.png);
}

.form-valuable {
  margin-bottom: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 35px;
}

.checkbox {
  display: flex;
  gap: 20px;
}

.form-submit {
  display: flex;
  gap: 35px;
}

.msg-box {
  padding: 24px;
  color: #FFFFFF;
  background-color: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: absolute;
  bottom: 5%;
  transition: 500ms ease-in-out;
  transform: translateY(25vh);
}

.show-overlay {
  transform: translate(0);
}

/* #label-confirm{
    font-size: 12px;
    font-weight: 400;
    color: #FF8190;
  } */
/*--------------------------------------------------
Media Query 
---------------------------------------------------*/
@media(max-width: 900px) {
  form{
    scale: 0.8;
  }
  .fs-61 {
    font-size: 47px;
  }

  .new-password {
    padding: 35px 4%;
  }

  .headline-SendEmail {
    font-size: 40px;
  }

  .headline-newPassword {
    margin-top: 0;
  }

  .logo {
    top: 38px;
    left: 37px;
    max-width: 64px;
  }

  .sign-up {
    top: unset;
    right: unset;
    bottom: 4%;
  }

  .return-black {
    display: flex;
  }

  .return-blue {
    display: none;
  }

  .form-verification input:last-child {
    margin-bottom: 30px;
  }

  .form-valuable {
    flex-direction: column-reverse;
    gap: 31px;
  }

  .form-submit {
    flex-direction: column;
    gap: 21px;
  }

  .btn {
    font-size: 16px;
  }
}

@media(max-height: 850px) {
  .logo {
    top: 20px;
    max-width: 40px;
  }

  .sign-up {
    top: unset;
    right: unset;
    bottom: 1%;
  }
}

@media(max-width: 600px) {
  .headline-SendEmail {
    margin-top: 21px;
  }
}