<!-- <head>
  <link rel="stylesheet" href="headerNav.css">
  <link rel="stylesheet" href="../fonts/fonts.css">
  <script src="headerNav.js"></script>
</head> -->

<!-- todo <body id="body" onload="loadUsers()" onclick="closeMenu()">-->

  <header class="header-headerNav">
    <div>
      <img class="header-logo-small img-32" src="../assets/img/logoSmall.png" alt="logo">
      <p class="header-text cursor-d fs-21 fw-400">Kanban Project Managment Tool</p>
    </div>
  
    <div class="h-menu">
      <div><img id="header-help-icon" onclick="toggleOverlays('help')" class="cursor-p img-30"
          src="../../assets/img/questionmarkHeader.png" alt="help icon"></div>
      <div><img id="header-profil-icon" onclick="toggleMenu(), event.stopPropagation()" class="cursor-p img-50"
          src="../assets/img/profileImgHeader.png" alt="profil"></div>
    </div>
  </header>
  
  <section id="mobile-drdo-menu" class="mobile-drdo-menu d-none">
    <div onclick="toggleOverlays('help')" class="mobile-drdo-menu-box cursor-p mobile-only">
      <span class="fs-16 fw-400">Help</span>
    </div>
    <div onclick="toggleOverlays('legal')" class="mobile-drdo-menu-box cursor-p mobile-only">
      <span class="fs-16 fw-400">Legal notice</span>
    </div>
    <div onclick="logout()" class="mobile-drdo-menu-box cursor-p">
      <span class="fs-16 fw-400">Log out</span>
    </div>
  </section>
  
  <nav>
    <div class="n-logo">
      <img src="../assets/img/logo.png" alt="logo">
    </div>
  
    <div class="n-nav">
      <ul class="n-nav-ul">
  
        <a id="nav-summary" href="./summary.html" class="n-nav-ul-li active cursor-p"> 
          <img class="img-30" src="../assets/img/summaryNav.png" alt="summary icon">
          <p class="c-w fs-16 fw-400">Summary</p>
        </a>
        <a id="nav-board" href="./board.html" class="n-nav-ul-li cursor-p"><img class="img-30"
            src="../assets/img/boardNav.png" alt="board icon">
          <p class="c-w fs-16 fw-400">Board</p>
        </a>
        <a id="nav-addtask" href="./addtask.html" class="n-nav-ul-li cursor-p"><img class="img-30"
            src="../assets/img/addTaskNav.png" alt="add task icon">
          <p class="c-w fs-16 fw-400">Add Task</p>
        </a>
        <a id="nav-contacts" href="./contacts.html" class="n-nav-ul-li cursor-p"><img class="img-30"
            src="../assets/img/contactsNav.png" alt="contacts icon">
          <p class="c-w fs-16 fw-400">Contacts</p>
        </a>
      </ul>
  
      <li id="nav-legal" onclick="toggleOverlays('legal')" class="n-more n-nav-ul-li cursor-p">
        <img class="img-20" src="../assets/img/legalNotice.png" alt="info">
        <p class="c-w fs-16 fw-400">Legal notice</p>
      </li>
    </div>
  </nav>
  
  <section id="help" class="d-none">
    <div class="overlay">
  
      <div class="overlay-header">
        <div class="bnt">
          <img onclick="toggleOverlays('help')" class="cursor-p" src="../assets/img/leave.svg" />
        </div>
  
        <span class="overlay-h1 cursor-d fs-61 fw-700">Help</span>
      </div>
  
      <div class="what-is-join">
        <h2 class="cursor-d fs-27 fw-700">What is Join?</h2>
        <p class="cursor-d fs-16 fw-400">
          Join is a classic task management tool with a Kanban board. You can organize your tasks within a project or
          business process, making it perfect for collaborating with your team.
          With Join, you and your team can work more efficiently, keeping all your tasks in view and never missing a
          deadline. Start using Join now to improve your productivity!
  
          In addition, Join offers an intuitive user interface. Whether you work alone or as part of a team,
          Join is an essential tool for anyone looking to manage their tasks effectively and efficiently.
        </p>
      </div>
  
      <ol class="what-is-join">
        <h2 class="cursor-d fs-27 fw-700 text-i-40px">How to use it</h2>
        <li class="fs-27 fw-700">
          <p class="cursor-d fs-16 fw-400 pl-35">With Join, you can effortlessly create and manage tasks. Add a title,
            description, and category to specify your task, and then assign it to other team members from your contact
            list or invite new contacts to work together on the task.</p>
        </li>
        <li class="fs-27 fw-700">
          <p class="cursor-d fs-16 fw-400 pl-35">Check the current status of your tasks in the kanban-board. You can drag
            and drop your task to change the status. Also it is possible to edit the task details.</p>
        </li>
        <li class="fs-27 fw-700">
          <p class="cursor-d fs-16 fw-400 pl-35">Add team members to your contact list to communicate to them fastly. Also
            you can assign tasks directly to your contacts. Having team members in your contact list also makes it easier
            to collaborate with them on projects and stay organized by having all relevant contact information in one
            place.</p>
        </li>
      </ol>
  
    </div>
  </section>
  
  <section id="legal" class="d-none">
    <div class="overlay o-legal">
  
      <div class="overlay-header">
  
        <div class="bnt">
          <img onclick="toggleOverlays('legal')" class="cursor-p" src="../assets/img/leave.svg" />
        </div>
  
        <div class="overlay-h1 cursor-d fs-61 fw-700">Legal Notice</div>
  
      </div>
  
      <div class="what-is-join">
        <h2 class="cursor-d fs-27 fw-700">Impressum</h2>
        <h3 class="cursor-d">Angaben gemäß § 5 TMG</h3>
        <p class="cursor-d">
          Sanjaya Shrestha<br>
          Martiniplatte 1<br>
          93109 Wiesent
        </p>
  
        <p class="cursor-d">Quelle Impressum:
          <a href="https://www.e-recht24.de/">e-recht24.de</a>
        </p>
  
        <h2 class="cursor-d fs-27 fw-700">Referenzen</h2>
        <p>Alle Grafiken und das Layout wurden von der <a href="https://developerakademie.com/">Developer Akademie</a> als
          Mockup bereitgestellt.<br>
          Icon "Trash" made by: <a href="https://www.freepik.com/">Freepik</a> from <a
            href="https://www.flaticon.com/">www.flaticon.com</a>
        </p>
  
        <h2 class="cursor-d fs-27 fw-700">Datenschutz­erklärung</h2>
        <h3 class="cursor-d">1. Datenschutz auf einen Blick</h3>
        <h4 class="cursor-d">Allgemeine Hinweise</h4>
        <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert,
          wenn Sie diese Website besuchen.
          Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können.
          Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten
          Datenschutzerklärung.</p>
  
        <h4 class="cursor-d">Datenerfassung auf dieser Website</h4>
        <h5 class="cursor-d">Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h5>
        <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber.
          Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis zur Verantwortlichen Stelle“ in dieser
          Datenschutzerklärung entnehmen.
        </p>
  
        <h5 class="cursor-d">Wie erfassen wir Ihre Daten?</h5>
        <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten
          handeln, die Sie in ein Kontaktformular eingeben.
  
        </p>
        <p>Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere IT-Systeme
          erfasst.
          Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs).
          Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website betreten.
        </p>
  
        <h5 class="cursor-d">Wofür nutzen wir Ihre Daten?</h5>
        <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten.
          Es wird keine Analyse Ihres Nutzerverhaltens durchgeführt.
        </p>
  
        <h5 class="cursor-d">Welche Rechte haben Sie bezüglich Ihrer Daten?</h5>
        <p>Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten
          personenbezogenen Daten zu erhalten.
          Sie haben außerdem ein Recht, die Berichtigung oder Löschung dieser Daten zu verlangen.
          Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben, können Sie diese Einwilligung jederzeit für die
          Zukunft widerrufen.
          Außerdem haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer
          personenbezogenen Daten zu verlangen.
          Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
        </p>
        <p>Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden.</p>
  
        <h3 class="cursor-d">2. Hosting</h3>
        <p>Wir hosten die Inhalte unserer Website bei auf einem Server der Developer Akademie:</p>
        <p>Diese Website wird ist nur zum Zwecke der Weiterentwicklung der Programmierskills erstellt worden und dient
          nicht gewerblichen oder privaten Nutzung.</p>
        <p>Quelle Datenschutz­erklärung: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
  
      </div>
  
    </div>
  </section>